@app-popup-page-width: 500px;
@app-popup-page-height: 600px;

.App {
  margin: auto;
  width: 98%;
  height: @app-popup-page-height;
  overflow: auto;
}

html {
  width: @app-popup-page-width;
  height: @app-popup-page-height;
  margin: auto;

  border: 1px solid #f0f0f0;
  border-radius: 2px;
  transition: all 0.2s;
}

.ttabgroup-operation-button-wrapper {
  margin: auto;
}

a {
  color: black;
}

.ant-tabs {
  margin-bottom: 20px;
  margin-left: 20px;
  max-height: 250px;
}

.tab-group-title-wrapper{
  margin-bottom: 5px;
  width: 450px;
}

.tab-list-wrapper {
  width: 410px;
}